* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    /* border: none;*/
    outline: none;
    font-family: 'Oregano', cursive;
    /* Se utiliza para que el contenedor no se pase*/
    box-sizing: border-box;
}

a {
    text-decoration: none
}

ul {
    padding-left: 0px;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
}

.header {
    border-top: solid black 5px;
    background-image: linear-gradient(to bottom, #ffffff, #fffffe, #e6e6e6, #cfd0d0);
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 80px;
    width: 100%;
}

.header__logo img {
    width: auto;
    height: 75px;
}

.header__menu {
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
    overflow: none;
}

.header__menu ul {
    font-size: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.header__menu ul li {
    padding-top: 2px;
    padding-right: 5px;
}

.header__menu ul li a {
    letter-spacing: 3px;
    padding: 3px;
    color: black;
    text-transform: uppercase;
}


/* Colorea el LI cuando pasas el mouse */

.header__menu ul li a:hover {
    color: blue;
}

.main {
    background-image: url(../Imagenes/Fondo\ 2.jpeg);
    background-size: cover;
}

.home__img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    margin-left: 5px;
}

.home__img img {
    width: 98%;
    height: 100%;
}


/* Parte Pincipal para Catalogos*/

.catalogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, auto);
    justify-items: center;
}

.catalogo .catalogo__prod {
    align-self: center;
    justify-self: center;
    padding-left: 30px;
    padding-right: 30px;
}

.catalogo__prod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.catalogo__prod img {
    width: 80%;
    height: 80%;
    padding-left: 10px;
}

.catalogo__prod h4 {
    padding-bottom: 15px;
    font-size: 120%;
    font-weight: bold;
}


/*Animaciones en Catalogo*/

.catalogo__prod img:hover {
    transform: scale(0.9);
    filter: opacity(0.7);
    transition-duration: 1s;
}


/*Clase para darle tamaño a las imagenes del index*/

.img {
    width: 900px;
    padding-right: 15px;
}


/* Clase para darle tamaño a las imagenes de Catalogos*/

.prodImg {
    width: 250px;
    height: 250px;
}


/* Parte Principal de Presentacion*/

.main__presentacion {
    width: 100%;
    background-image: url(../Imagenes/Fondo.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*Parrafo de la presentacion*/

.main__presentacion p {
    font-size: 200%;
    text-align: center;
    padding-top: 30px;
    width: 80%;
}


/*Imagen de la presentacion*/

@keyframes imgPresentacion {
    0% {
        width: 30%;
    }
}

.main__presentacion img {
    padding-top: 20px;
    width: 60%;
    animation-name: imgPresentacion;
    animation-duration: 3s;
}


/*Parte Principal de Ubicacion*/

.ubi {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 400px;
    background-image: url(../Imagenes/Fondo.jpeg);
    background-size: cover;
}

.ubi__nos p {
    font-size: 120%;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 800;
}

.ubi__mapa {
    display: flex;
    justify-content: center;
}

.ubi__mapa iframe {
    width: 50%;
    height: auto;
    padding-bottom: 10px;
}


/*Pagina Principal de Contacto*/

.contacto {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 20px;
    background-image: url(../Imagenes/Fondo\ 2.jpeg);
    background-size: cover;
    padding-bottom: 5px;
}

.form-control {
    width: 30%;
    font-size: 1.1rem;
}

.form_text {
    width: 60%;
}

.form_boton {
    margin-bottom: 10px;
}

.form-label {
    font-size: 1.3rem;
}

.contacto p {
    margin: 20px 20px;
    font-size: 2rem;
    letter-spacing: 3px;
}


/*PRODUCTOS*/

.producto {
    display: flex;
    flex-direction: column;
    padding-left: 55px;
}

.producto img {
    width: 350px;
    height: 350px;
    padding-bottom: 25px;
    padding-left: 50px;
}

.producto h2 {
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 150%;
}

.producto ul li {
    list-style-type: circle;
    font-size: 150%;
}

.formProducto {
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.formProducto label,
input,
textarea {
    font-family: Arial, Helvetica, sans-serif;
}


/*Pie de Pagina*/

.pie {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 20px;
    flex-direction: column;
    background-color: lightsteelblue;
}

.pie__contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 9px;
    padding-top: 5px;
    margin: 5px;
}

.pie__contacto ul li {
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
    padding-right: 15px;
}

.pie__contacto ul {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
}

.pie__redes {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.pie__redes img {
    height: 35px;
}

.carousel-item img {
    height: 435px;
}


/* Estilado para contact*/

@media only screen and (max-width: 999px) {
    .header__menu ul {
        font-size: 0.8rem;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .ubi__mapa iframe {
        width: 70%;
        height: 100%;
    }
    .ubi__nos p {
        font-size: 130%;
    }
    .ubi__nos p {
        font-size: 100%;
    }
    .ubi__mapa {
        width: 600px;
        height: 400px;
        justify-self: center;
    }
    /*Estilado de nosotros.html*/
    .main__presentacion p {
        font-size: 125%;
    }
    /*Carrusel del Index*/
    .carousel-item img {
        height: 300px;
    }
    .pie__contacto ul li {
        font-size: 0.9rem;
    }
    /*Estilado para los Formualrios*/
    .form-control {
        width: 50%;
        font-size: 0.9rem;
    }
    .form_text {
        width: 70%;
    }
    .form_boton {
        margin-bottom: 7px;
        font-size: 0.9rem;
    }
    .form-label {
        font-size: 1rem;
    }
    .contacto p {
        margin: 20px 20px;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 599px) {
    .header {
        width: 100%;
        height: 70px;
        grid-template-columns: 1fr 1fr;
    }
    .header__logo img {
        height: 65px;
    }
    .header__menu ul {
        font-size: 70%;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .header__menu ul li {
        padding-bottom: 2px;
    }
    .catalogo {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1, auto);
    }
    /*Estilado para Footer*/
    .pie__contacto ul {
        display: flex;
        flex-direction: column;
    }
    .pie__contacto ul li {
        font-weight: bold;
        font-size: 0.7rem;
        letter-spacing: 1px;
        padding-bottom: 5px;
    }
    .pie__redes {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 10px;
    }
    /*Estilado para Ubicacion*/
    .ubi .ubi__nos p {
        font-size: 120%;
    }
    .ubi__mapa {
        width: 500px;
        height: 90%;
    }
    /*Estilado de nosotros.html*/
    .main__presentacion p {
        font-size: 100%;
        padding-top: 7px;
    }
    /*Carrusel del index*/
    .carousel-item img {
        height: 250px;
    }
    /*Estilado para los Formualrios*/
    .form-control {
        width: 50%;
        font-size: 0.8rem;
    }
    .form_boton {
        font-size: 0.8rem;
    }
    .form-label {
        font-size: 0.9rem;
    }
    .contacto p {
        margin: 15px 15px;
        font-size: 1.3rem;
    }
    .form_text {
        width: 85%;
    }
}