.header {
    border-top: solid black 5px;
    background-image: linear-gradient(to bottom, #ffffff, #fffffe, #e6e6e6, #cfd0d0);
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 80px;
    width: 100%;
    &__logo img {
        width: auto;
        height: 75px;
    }
    &__menu {
        display: flex;
        width: 100%;
        justify-content: center;
        height: auto;
        overflow: none;
        ul {
            font-size: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            margin-bottom: 0px;
            li {
                padding-top: 2px;
                padding-right: 5px;
                a {
                    letter-spacing: 3px;
                    padding: 3px;
                    color: black;
                    text-transform: uppercase;
                    &:hover {
                        color: blue;
                    }
                }
            }
        }
    }
}