    .header {
        border-top: solid black 5px;
        background-image: linear-gradient(to bottom, #ffffff, #fffffe, #e6e6e6, #cfd0d0);
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 130px;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 100;
        &__logo img {
            width: auto;
            height: 120px;
            &:hover {
                transform: scale(0.9);
                filter: opacity(0.9);
                transition-duration: 1s;
            }
        }
        &__menu {
            display: flex;
            width: 100%;
            justify-content: center;
            height: auto;
            overflow: none;
            ul {
                font-size: 1.1rem;
                text-align: center;
                display: flex;
                align-items: center;
                margin-bottom: 0px;
                li {
                    padding-top: 2px;
                    padding-right: 5px;
                    a {
                        letter-spacing: 3px;
                        padding: 3px;
                        color: black;
                        text-transform: uppercase;
                        &:hover {
                            color: blue;
                        }
                    }
                }
            }
        }
    }
    
    .bg-light {
        background-image: linear-gradient(to bottom, #ffffff, #fffffe, #e6e6e6, #cfd0d0);
    }
    
    .nav-item {
        a {
            letter-spacing: 3px;
            padding: 3px;
            color: black;
            text-transform: uppercase;
            &:hover {
                color: blue
            }
        }
    }
    
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
    
    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        justify-content: flex-end;
    }