@media only screen and (max-width: 999px) {
    .header__menu ul {
        font-size: 0.8rem;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .ubi {
        &__mapa {
            width: 600px;
            height: 400px;
            justify-self: center;
            iframe {
                width: 70%;
                height: 100%;
            }
        }
        &__nos p {
            font-size: 100%;
        }
    }
    /*Estilado de nosotros.html*/
    .main__presentacion p {
        font-size: 125%;
    }
    /*Carrusel del Index*/
    .carousel-item img {
        height: 300px;
    }
    .pie__contacto ul li {
        font-size: 0.9rem;
    }
    /*Estilado para los Formualrios*/
    .form {
        &-control {
            width: 50%;
            font-size: 0.9rem;
        }
        &_text {
            width: 70%;
        }
        &_boton {
            margin-bottom: 7px;
            font-size: 0.9rem;
        }
        &-label {
            font-size: 1rem;
        }
    }
    .contacto p {
        margin: 20px 20px;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 599px) {
    .header {
        width: 100%;
        height: 70px;
        grid-template-columns: 1fr 1fr;
        &__logo img {
            height: 65px;
        }
        &__menu ul {
            font-size: 70%;
            text-align: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            li {
                padding-bottom: 2px;
            }
        }
    }
    .catalogo {
        grid-template-columns: 1fr 1fr;
    }
    /*Estilado para Footer*/
    .pie {
        &__contacto ul {
            display: flex;
            flex-direction: column;
            li {
                font-weight: bold;
                font-size: 0.7rem;
                letter-spacing: 1px;
                padding-bottom: 5px;
            }
        }
        &__redes {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 10px;
        }
    }
    /*Estilado para Ubicacion*/
    .ubi {
        &__nos p {
            font-size: 120%;
        }
        &__mapa {
            width: 500px;
            height: 85%;
            padding-top: 10px;
        }
    }
    /*Estilado de nosotros.html*/
    .main__presentacion p {
        font-size: 100%;
        padding-top: 7px;
    }
    /*Carrusel del index*/
    .carousel-item img {
        height: 250px;
    }
    /*Estilado para los Formualrios*/
    .form {
        &-control {
            width: 50%;
            font-size: 0.8rem;
        }
        &_boton {
            font-size: 0.8rem;
        }
        &-label {
            font-size: 0.9rem;
        }
        &_text {
            width: 85%;
        }
    }
    .contacto p {
        margin: 15px 15px;
        font-size: 1.3rem;
    }
}