    @media only screen and (max-width: 999px) {
        .header__menu ul {
            font-size: 0.8rem;
            text-align: center;
            display: flex;
            align-items: center;
        }
        .home {
            &__destacados {
                h3 {
                    font-size: 2rem;
                }
            }
            &__presentacion {
                img {
                    width: 90%;
                    height: 290px;
                }
            }
            &__img {
                img {
                    height: 25vh;
                }
            }
        }
        .ubi {
            &__mapa {
                width: 600px;
                height: 400px;
                justify-self: center;
                iframe {
                    width: 70%;
                    height: 100%;
                }
            }
            &__nos p {
                font-size: 100%;
            }
            &__frente {
                img {
                    width: 80vw;
                    height: 70vh;
                }
            }
            &__frente {
                img {
                    height: 230px;
                }
            }
        }
        /*Estilado de nosotros.html*/
        .main__presentacion {
            img {
                height: 200px;
            }
            p {
                font-size: 1.5rem;
            }
        }
        /*Carrusel del Index*/
        .carousel-item img {
            height: 400px;
        }
        .pie__contacto ul li {
            font-size: 0.9rem;
        }
        /*Estilado para los Formualrios*/
        .form {
            &-control {
                width: 50%;
                font-size: 0.9rem;
            }
            &_text {
                width: 70%;
            }
            &_boton {
                margin-bottom: 7px;
                font-size: 0.9rem;
            }
            &-label {
                font-size: 1rem;
            }
        }
        .contacto p {
            margin: 20px 20px;
            font-size: 1.5rem;
        }
        .header__mbl {
            background-image: linear-gradient(to bottom, #ffffff, #fffffe, #cfd0d0, #cfd0d0, #cfd0d0 #e6e6e6, #e6e6e6, #cfd0d0);
        }
        .catalogo {
            grid-template-columns: map-get($map: $cantidadColumnas, $key: dos);
            h3 {
                font-size: 1.1rem;
            }
            img {
                width: 40vw;
                height: 40vw;
            }
        }
        .medioPago {
            p {
                font-size: 1.3rem;
            }
            h3 {
                font-size: 1.5rem;
            }
            &__efectivo {
                flex-direction: column;
                img {
                    height: 50px;
                    width: 50px;
                }
            }
            &__MP {
                flex-direction: column;
                img {
                    height: 35px;
                    width: 135px;
                    padding: none;
                }
                p {
                    padding-bottom: 15px;
                }
            }
            &__tarjetas {
                flex-direction: column;
                img {
                    width: 50px;
                    height: 50px;
                    padding-bottom: 3px;
                }
            }
            &__transfer {
                flex-direction: column;
                flex-wrap: wrap;
                img {
                    width: 55px;
                    height: 55px;
                }
            }
        }
    }
    
    @media only screen and (max-width: 599px) {
        .header {
            width: 100%;
            height: 70px;
            grid-template-columns: map-get($map: $cantidadColumnas, $key: dos);
            &__logo img {
                height: 65px;
            }
            &__menu ul {
                font-size: 70%;
                text-align: center;
                @include grid__tresCol;
                li {
                    padding-bottom: 2px;
                }
            }
        }
        .main {
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .catalogo {
            grid-template-columns: map-get($map: $cantidadColumnas, $key: una);
            &__prod {
                justify-content: center;
            }
            h3 {
                font-size: 1.3rem;
            }
            img {
                width: 40vw;
                height: 40vw;
            }
            img {
                width: 80vw;
                height: 80vw;
            }
            &__prod {
                align-items: center;
            }
        }
        .home {
            &__destacados {
                h3 {
                    font-size: 1.3rem;
                }
            }
            &__presentacion {
                img {
                    width: 85%;
                    height: 220px;
                }
            }
        }
        /*Estilado para Footer*/
        .pie {
            &__contacto ul {
                display: flex;
                flex-direction: column;
                li {
                    font-weight: bold;
                    font-size: 0.85rem;
                    letter-spacing: 1px;
                    padding-bottom: 5px;
                }
            }
            &__redes {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-top: 10px;
                img {
                    height: 30px;
                }
            }
        }
        /*Estilado para Ubicacion*/
        .ubi {
            &__nos p {
                font-size: 0.8rem;
            }
            &__mapa {
                align-items: center;
                iframe {
                    width: 90vw;
                    height: 90vw;
                }
            }
            &__frente {
                img {
                    width: 90vw;
                    height: 40vw;
                }
            }
        }
        /*Estilado de nosotros.html*/
        .main__presentacion {
            img {
                height: 200px;
            }
            p {
                font-size: 1.5rem;
                padding-top: 7px;
            }
        }
        /*Carrusel del index*/
        .carousel-item img {
            height: 320px;
        }
        /*Estilado para los Formualrios*/
        .form {
            &-control {
                width: 50%;
                font-size: 0.8rem;
            }
            &_boton {
                font-size: 0.8rem;
            }
            &-label {
                font-size: 0.9rem;
            }
            &_text {
                width: 85%;
            }
        }
        .contacto p {
            margin: 15px 15px;
            font-size: 1.3rem;
        }
        /*Estilado de Medios de Pago*/
        .medioPago {
            p {
                font-size: 0.9rem;
                padding: none;
                text-align: center;
            }
            h3 {
                font-size: 1.3rem;
            }
            &__efectivo {
                flex-direction: column;
                img {
                    height: 50px;
                    width: 50px;
                    padding: none;
                }
            }
            &__MP {
                padding-bottom: 10px;
                flex-direction: column;
                img {
                    height: 25px;
                    width: 100px;
                    padding: none;
                }
            }
            &__tarjetas {
                flex-direction: column;
                img {
                    width: 45px;
                    height: 45px;
                }
            }
            &__transfer {
                flex-direction: column;
                img {
                    width: 50px;
                    height: 50px;
                }
                p {
                    justify-content: flex-start;
                    align-items: flex-start;
                }
            }
        }
    }