@import "header";
@import "footer";

/*Creacion de Maps*/

@import "maps";
$tipoGrid: grid;
@mixin grid__cuatroCol {
    display: $tipoGrid;
    grid-template-columns: map-get($map: $cantidadColumnas, $key: cuatro);
}

@mixin grid__tresCol {
    display: $tipoGrid;
    grid-template-columns: map-get($map: $cantidadColumnas, $key: tres);
    justify-content: center;
}

@mixin grid__dosCol {
    display: $tipoGrid;
    grid-template-columns: map-get($map: $cantidadColumnas, $key: dos);
    justify-content: center;
}

@mixin grid__unaCol {
    display: $tipoGrid;
    grid-template-columns: map-get($map: $cantidadColumnas, $key: una);
}

@mixin flex__pagos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none
}

ul {
    padding-left: 0px;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    /* border: none;*/
    outline: none;
    font-family: 'Oregano', cursive;
    /* Se utiliza para que el contenedor no se pase*/
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
}

.main {
    @extend .bg__fondo1;
    background-size: cover;
}


/* Estilados para Home*/

.home {
    &__destacados {
        @extend .bg__fondo1;
        hr {
            size: 500%;
        }
        h3 {
            font-size: 3rem;
            text-align: center;
            padding-top: 10px;
        }
    }
    &__img {
        @include grid__tresCol;
        align-content: center;
        margin-left: 5px;
        @extend .bg__fondo1;
        img {
            width: 98%;
            height: 93%;
        }
    }
    &__presentacion {
        @include grid__unaCol;
        justify-items: center;
        background-color: #1d1716;
        img {
            align-items: center;
            width: 65%;
            height: 350px;
        }
    }
    &__carrusel {
        width: 95%;
        height: 80%;
    }
}

.seccion__carrusel {
    display: flex;
    justify-content: center;
}

.carousel-item img {
    height: 585px;
}

.medioPago {
    @include grid__cuatroCol;
    grid-template-rows: 30px 1fr;
    align-self: center;
    justify-self: center;
    background-image: linear-gradient(to bottom, #fffffe, #fffffe, #e6e6e6, #cfd0d0);
    p {
        font-size: 1.3rem;
        text-align: center;
        padding-top: 15px;
        padding-right: 10px;
    }
    &__titulo {
        grid-column: 1/5;
        grid-row: 1/1;
        justify-self: center;
    }
    &__efectivo {
        @include flex__pagos;
        img {
            height: 70px;
            width: 70px;
        }
    }
    &__MP {
        @include flex__pagos;
        img {
            height: 35px;
            width: 150px;
            padding-left: 10px;
        }
    }
    &__tarjetas {
        @include flex__pagos;
        img {
            width: 60px;
            height: 60px;
        }
    }
    &__transfer {
        @include flex__pagos;
        img {
            width: 50px;
            height: 50px;
        }
    }
}


/* Parte Pincipal para Catalogos*/

.catalogo {
    @include grid__tresCol;
    gap: 5px;
    &__prod {
        align-self: center;
        justify-self: center;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        img {
            width: 80%;
            height: 100%;
            padding-left: 10px;
            padding-top: 5px;
        }
        h3 {
            padding-bottom: 15px;
            padding-top: 5px;
            padding-left: 5px;
            font-size: 1.3rem;
            overflow: hidden;
            font-weight: bold;
        }
    }
}


/*Animaciones en Catalogo*/


/* Clase para darle tamaño a las imagenes de Catalogos*/

.prodImg {
    width: 250px;
    height: 250px;
}


/* Parte Principal de Presentacion*/

.main__presentacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
        text-align: justify;
        font-size: 2rem;
        margin: 20px;
    }
    img {
        height: 300px;
        width: 95%;
    }
}


/*Parte Principal de Ubicacion*/

.ubi {
    @include grid__unaCol;
    background-size: cover;
    justify-content: center;
    &__nos p {
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 800;
    }
    &__frente {
        display: flex;
        justify-content: center;
        img {
            height: 65vh;
            width: 75vw;
            padding-bottom: 5px;
        }
    }
    &__mapa {
        display: flex;
        justify-content: center;
        iframe {
            width: 100vh;
            height: 30vw;
            padding-bottom: 10px;
        }
    }
}


/*Pagina Principal de Contacto*/

.contacto {
    @include grid__unaCol;
    padding-left: 20px;
    background-size: cover;
    padding-bottom: 5px;
    @extend .bg__fondo2;
    p {
        margin: 20px 20px;
        font-size: 2rem;
        letter-spacing: 3px;
    }
}

.form {
    &-control {
        width: 30%;
        font-size: 1.1rem;
    }
    &_text {
        width: 60%;
    }
    &_boton {
        margin-bottom: 10px;
    }
    &-label {
        font-size: 1.3rem;
    }
}


/*PRODUCTOS*/

.producto {
    display: flex;
    flex-direction: column;
    padding-left: 55px;
    img {
        width: 350px;
        height: 350px;
        padding-bottom: 25px;
        padding-left: 50px;
    }
    h2 {
        padding-bottom: 5px;
        padding-left: 10px;
        font-size: 150%;
    }
}


/* Lo comento porque quizas lo borre
.formProducto {
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    label,
    input,
    textarea {
        font-family: Arial, Helvetica, sans-serif;
    }
}
*/

@import "mediaQueries";